body {
    margin: 0;
    font-family: "Spinnaker", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}


#hero {
    height: 100vh;
    background-image: url('images/tokyo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #0f0c0c;
    font-size: larger;

}

.register-btn {
    margin-top: 20px;
    padding: 25px 40px;
    font-size: larger;
    border: none;
    background: rgb(183, 8, 8);
    color: #ffffff;
    border-radius: 20px;
}

h3 {
    margin-top: 0px;
}

.img-act {
    width: 200px;
    height: 200px;
    border: 2px solid #ff0707;
    border-radius: 50%
}

.activity-sec {
    background: linear-gradient(#0061ff, #60efff);
    padding: 20px;
}

.images {
    display: flex;
    justify-content: space-around;

}

.img3 {
    padding: 20px 30px;
    width: 200px;
    border: 2px solid blue;
    border-radius: 30px;
    background: white;
    color: #0061ff
}

.img-guide {
    width: 300px;
    height: 120px;
    object-fit: cover;
    border: 2px solid wheat;
}

.card {
    border-top: 2px solid whitesmoke
    background-color: #f6cbcb;
    display: flex;
    justify-content: center;
    color: #0f0c0c;
}

.guide {
    width: 400px;
    margin: 30px;
    padding: 30px 40px;
    border-bottom: 6px solid #c72c2c;
    display: flex;
    background: linear-gradient(#ff5858 , #ffc8c8);
}

.talk {
    color: aliceblue;
}